<phpunit bootstrap="/cis/lib/Gustavus/Utility/bootstrap.php">
  <testsuites>
    <testsuite name="Gustavus Utility">
      <directory suffix="Test.php">/cis/lib/Gustavus/Utility/Test</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="xdebug.collect_params" value="0"/>
    <server name="DOCUMENT_ROOT" value="/cis/www"/>
  </php>

  <filter>
    <whitelist>
      <directory suffix=".php">/cis/lib/Gustavus/Utility</directory>

      <exclude>
        <directory>/cis/lib/Gustavus/Utility/Test</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="/cis/www/tests/reports/projects/utility" charset="UTF-8"/>
  </logging>
</phpunit>

